
body {
  font-family: Open Sans;
  font-style: light;
  color: black;
}

a {
  text-decoration: none;
}

// form {
//   font-size: 20px;
// }
// input {
//   font-size: 15px;
//   text-align: center;
//   font-family: Times;
// }

body {
  background: url(/assets/background.png) 100%;
  background-size: cover;
  height: 100vh;

}

.container {
  width: 90%;
  text-align: center;
  margin: auto;
}

// ==============================
//  home nav bar
// ==============================



.menu-icon {
  width: 45px;
  height: 25px;
  opacity: 1;
  border: solid white 2px;
  position: absolute;
  top: 10%;
  left: 6%;
  transition-property: width, height;
  transition-duration: 2s;
  transition-timing-function: ease;
  text-align: center;
}

.menu-items {
  position: absolute;
  top: 9%;
  left: 31%;
  opacity: 0;
  transition-property: opacity, left;
  transition-duration: .3s;
  transition-timing-function: ease;

  p {
    margin-top: 2px;
    width: 100%;
    transition-property: opacity;
    transition-duration: 1s;
    color: white;
  }

}

.menu-icon:hover {
  width: 150px;
  height: 230px;
  transition-duration: 2s;

  .menu-items {
    opacity: 1;
    left: 31%;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
  }

  .menu-items p:hover {
    // color: #9a552d;
    color: gray;
    text-decoration: underline;
  }
}

// ============================


.nav-icon {
  width: 45px;
  height: 25px;
  opacity: 1;
  border: solid white 2px;
  position: fixed;
  top: 10%;
  left: 6%;
  transition-property: width, height;
  transition-duration: 2s;
  transition-timing-function: ease;
  text-align: center;
  &.work-nav {
    transition-delay: .4s;
  }
  .nav-items span{
    color: white;
    margin-top: 2px;
    padding: 3.5%;
    opacity: 0;
    width: 100%;
    // transition-property: opacity;
    // transition-duration: .5s;
    // transition-delay: 1s;
  }
}

.nav-icon:hover {
  width: 300px;
  transition-duration: 2s;
  &.work-nav {
  width: 350px;
  transition-duration: 1.5s;
   span {
    opacity: 1;
    transition-delay: 1.4s;
   }
  }
  .nav-items {
    left: 31%;
  }
  span {
    opacity: 1;
    transition-property: opacity;
    transition-delay: 1s;
    transition-duration: 1s;
  }
  .nav-items span:hover {
    // color: #9a552d;
    color: gray;
    text-decoration: underline;
  }
}



#intro {
  position: fixed;
  top: 35%;
  left: 41%;
  font-size: 110px;
  letter-spacing: 5px;
  font-style: bolder;
  // color: #9a552d;
  color: gray;
  animation-name: slideup;
  animation-duration: 1.4s;
  animation-timing-function: ease;
}




@keyframes slideup {
  from {top: 48%; opacity:0;}
  to {top: 35%; opacity: 1;}
}

#workTitle {
    color: white;
    font-size: 75px;
    font-style: bolder;
    margin-top: 14%;
    margin-left: 8%;
    letter-spacing: 5px;
    animation-name: slideupWork;
    animation-duration: 1.4s;
     animation-timing-function: ease;
}

@keyframes slideupWork {
  from {margin-top: 18%; opacity:0;}
  to {margin-top: 14%; opacity: 1;}
}


.projects {
  display: inline-block;
  border: solid white 3px;
  width: 280px;
  // height: 230px;
  color: black;
  text-decoration: none;
  text-align: center;
  margin: auto;
  margin: 15px 15px;;
  padding: 5px;
  z-index: 6;
  img {
    width: 100%;
  }
}

#project {
  width: 80%;
  text-align: center;
  margin: auto;

  img {
    width: 90%;
    margin-top: 10%;
    animation-name: pushup;
    animation-duration: 2s;
  }

  #desc {
    color: white;
    margin-top: 50%;
    font-size: 47px;
    font-style: bold;
    font-weight: bolder;
    animation-name: slidedown;
    animation-duration: 1.2s;
    animation-timing-function: ease;
  }

  hr {
    width: 60px;
    height: 13px;
    background-color: white;
    border: none;
  }
}

@keyframes slidedown {
  from {margin-top: 38%; opacity:0;}
  to {margin-top: 50%; opacity: 1;}
}

@keyframes pushup {
  from {margin-top: 50%; opacity:0;}
  to {margin-top: 10%; opacity: 1;}
}

.btn {
  display: inline-block;
  border: solid white 2px;
  width: 50px;
  height: 30px;
  text-align: center;
  margin: 3%;
  p {
    margin-top: 3px;
    color: white;
  }
  .edit {
    width: 50px;
    color: white;
    margin: auto;
    margin-left: 100%;
  }
  &.back {
    color: white;
    margin-left: 7%;
    margin-right: 70%;
    font-size: 24px;

    p {
      margin-top: -3px;
      margin-bottom: 0;
    }
  }

}




