body {
  font-family: Open Sans;
  font-style: light;
  color: black; }

a {
  text-decoration: none; }

body {
  background: url(/assets/background.png) 100%;
  background-size: cover;
  height: 100vh; }

.container {
  width: 90%;
  text-align: center;
  margin: auto; }

.menu-icon {
  width: 45px;
  height: 25px;
  opacity: 1;
  border: solid white 2px;
  position: absolute;
  top: 10%;
  left: 6%;
  transition-property: width, height;
  transition-duration: 2s;
  transition-timing-function: ease;
  text-align: center; }

.menu-items {
  position: absolute;
  top: 9%;
  left: 31%;
  opacity: 0;
  transition-property: opacity, left;
  transition-duration: .3s;
  transition-timing-function: ease; }
  .menu-items p {
    margin-top: 2px;
    width: 100%;
    transition-property: opacity;
    transition-duration: 1s;
    color: white; }

.menu-icon:hover {
  width: 150px;
  height: 230px;
  transition-duration: 2s; }
  .menu-icon:hover .menu-items {
    opacity: 1;
    left: 31%;
    transition-delay: 0.5s;
    transition-duration: 0.5s; }
  .menu-icon:hover .menu-items p:hover {
    color: gray;
    text-decoration: underline; }

.nav-icon {
  width: 45px;
  height: 25px;
  opacity: 1;
  border: solid white 2px;
  position: fixed;
  top: 10%;
  left: 6%;
  transition-property: width, height;
  transition-duration: 2s;
  transition-timing-function: ease;
  text-align: center; }
  .nav-icon.work-nav {
    transition-delay: .4s; }
  .nav-icon .nav-items span {
    color: white;
    margin-top: 2px;
    padding: 3.5%;
    opacity: 0;
    width: 100%; }

.nav-icon:hover {
  width: 300px;
  transition-duration: 2s; }
  .nav-icon:hover.work-nav {
    width: 350px;
    transition-duration: 1.5s; }
    .nav-icon:hover.work-nav span {
      opacity: 1;
      transition-delay: 1.4s; }
  .nav-icon:hover .nav-items {
    left: 31%; }
  .nav-icon:hover span {
    opacity: 1;
    transition-property: opacity;
    transition-delay: 1s;
    transition-duration: 1s; }
  .nav-icon:hover .nav-items span:hover {
    color: gray;
    text-decoration: underline; }

#intro {
  position: fixed;
  top: 35%;
  left: 41%;
  font-size: 110px;
  letter-spacing: 5px;
  font-style: bolder;
  color: gray;
  animation-name: slideup;
  animation-duration: 1.4s;
  animation-timing-function: ease; }

@keyframes slideup {
  from {
    top: 48%;
    opacity: 0; }
  to {
    top: 35%;
    opacity: 1; } }

#workTitle {
  color: white;
  font-size: 75px;
  font-style: bolder;
  margin-top: 14%;
  margin-left: 8%;
  letter-spacing: 5px;
  animation-name: slideupWork;
  animation-duration: 1.4s;
  animation-timing-function: ease; }

@keyframes slideupWork {
  from {
    margin-top: 18%;
    opacity: 0; }
  to {
    margin-top: 14%;
    opacity: 1; } }

.projects {
  display: inline-block;
  border: solid white 3px;
  width: 280px;
  color: black;
  text-decoration: none;
  text-align: center;
  margin: auto;
  margin: 15px 15px;
  padding: 5px;
  z-index: 6; }
  .projects img {
    width: 100%; }

#project {
  width: 80%;
  text-align: center;
  margin: auto; }
  #project img {
    width: 90%;
    margin-top: 10%;
    animation-name: pushup;
    animation-duration: 2s; }
  #project #desc {
    color: white;
    margin-top: 50%;
    font-size: 47px;
    font-style: bold;
    font-weight: bolder;
    animation-name: slidedown;
    animation-duration: 1.2s;
    animation-timing-function: ease; }
  #project hr {
    width: 60px;
    height: 13px;
    background-color: white;
    border: none; }

@keyframes slidedown {
  from {
    margin-top: 38%;
    opacity: 0; }
  to {
    margin-top: 50%;
    opacity: 1; } }

@keyframes pushup {
  from {
    margin-top: 50%;
    opacity: 0; }
  to {
    margin-top: 10%;
    opacity: 1; } }
