body {
  background: white;
  font-family: Open Sans;
  font-style: light;
  color: black; }

a {
  text-decoration: none; }

.home {
  background: url(/assets/background.png) 100%;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3; }

.menu {
  width: 250px;
  height: 400px;
  margin-top: 2%;
  margin-left: 2%;
  position: relative;
  z-index: 4; }

.home-icon {
  position: fixed;
  top: 5%;
  left: 7%;
  width: 45px;
  height: 25px;
  border: solid black 2px;
  text-align: center;
  transition-property: border;
  transition-duration: 1s; }
  .home-icon p {
    margin-top: 30%;
    width: 100%;
    opacity: 0;
    font-size: 0px;
    transition-property: opacity, font-size, margin-top;
    transition-duration: 1s; }

.home-icon:hover {
  border: 0px; }
  .home-icon:hover p {
    opacity: 1;
    font-size: 15px;
    margin-top: 2px; }

.menu-icon {
  width: 45px;
  height: 25px;
  opacity: 1;
  border: solid white 2px;
  position: absolute;
  top: 4%;
  left: 12%;
  transition-property: width, height;
  transition-duration: 2s;
  transition-timing-function: ease;
  text-align: center; }
  .menu-icon p {
    margin-top: 2px;
    width: 100%;
    transition-property: opacity;
    transition-duration: 1s; }

.menu-items {
  position: absolute;
  top: 9%;
  left: 31%;
  opacity: 0;
  transition-property: opacity, left;
  transition-duration: .3s;
  transition-timing-function: ease; }
  .menu-items p {
    color: white; }

.menu-icon:hover {
  width: 150px;
  height: 230px;
  transition-duration: 2s; }
  .menu-icon:hover .menu-items {
    opacity: 1;
    left: 31%;
    transition-delay: 0.5s;
    transition-duration: 0.5s; }
  .menu-icon:hover .menu-items p:hover {
    color: #9a552d;
    text-decoration: underline; }

#intro {
  position: fixed;
  top: 270px;
  left: 450px; }

#workTitle {
  color: black;
  font-size: 55px;
  font-style: bold;
  margin-top: 8%;
  margin-left: 7%;
  letter-spacing: 5px; }

.container {
  width: 90%; }
