<div class="home">
  <div class="menu">
    <div class="menu-icon">
      <div class="menu-items">
        <div>
          <a href="/projects"><p> work </p></a>
          <a href="/"><p> about </p></a>
          <a href="/"><p> contact </p></a>
          <a href="/"><p> misc </p></a>
          <a href="/login"><p> login </p></a>
        </div>
      </div>
    </div>
  </div>

  <div id="intro"> INTRO HERE</div>
</div>