 <div class="nav-icon work-nav">
    <div class="nav-items">
        <a href="/"><span>home</span></a>
        <a href="/projects"><span>work</span></a>
        <a href="/"><span> about </span></a>
        <a href="/"><span> contact </span></a>
        <a href="/"><span> misc </span></a>
    </div>
  </div>

<div id="project">
  <p id="desc">{{project.description}}</p>
  <hr>
  <img src="/assets/nylibrary.jpg" alt="ny-library">
  <p>{{project.link}}</p>
</div>

<div>
  <input type=button onClick="location.href='/projects/{{project.id}}/edit'" value='Edit Project'>
</div>

<div>
  <a href="/projects" class="back">Back</a>
</div>

