<h1>Project</h1>

<div class="projects">
  <p>Link: {{project.link}}</p>
  <p>Description: {{project.description}}</p>
</div>

<div>
  <input type=button onClick="location.href='/projects/{{project.id}}/edit'" value='Edit Project'>
</div>

<div>
  <a href="/projects" class="back">Back</a>
</div>

