<div class="menu-icon">
  <div class="menu-items">
    <div>
      <a href="/projects"><p> work </p></a>
      <a href="/"><p> about </p></a>
      <a href="/"><p> contact </p></a>
      <a href="/"><p> misc </p></a>
      <a href="/login"><p> login </p></a>
    </div>
  </div>
</div>

<div id="project">
  <p id="desc">{{project.description}}</p>
  <hr>
  <img src="/assets/nylibrary.jpg" alt="ny-library">
  <p>{{project.link}}</p>
</div>

<div class="btn back">
  <a href="/projects"><p>⟵</p></a>
</div>

{{#if user}}
  <div class="btn edit">
    <a href="/projects/{{project.id}}/edit"><p>Edit</p></a>
  </div>
{{/if}}

